.place {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
    background-size: 200px 100px;
}
  
.place span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}